<h1>{{title}}</h1>
<h2>{{pageTitle}}</h2>
<div *ngIf="!(displayEdit)">
  <table class="tableDisplay">
   <tbody>
      <tr>
        <td><label>Name:</label></td>
        <td>{{user.name}}</td>
      </tr>
      <tr>
        <td><label>Age:</label></td>
        <td>{{user.age}}</td>
      </tr>
      <tr>
        <td><label>FavouriteColor:</label></td>
        <td>{{user.favoriteColor}}</td>
      </tr>
      <tr>
        <td><button class="toggleEditButton" type="button" (click)="toggleEdit()"> Toggle Edit </button> </td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="(displayEdit)">
  <form #editForm="ngForm" (ngSubmit)="saveChanges(editForm)"></form>
  <table class="tableDisplay">
    <tbody>
      <tr>
        <td><label>Name:</label></td>
        <td><input name="name" id="name" [(ngModel)]="user.name"></td>
      </tr>
      <tr>
        <td><label>Age:</label></td>
        <td><input name="age" id="age" [(ngModel)]="user.age"></td>
      </tr>
      <tr>
        <td><label>FavouriteColor:</label></td>
        <td><input name="favouriteColor" id="favouriteColor" [(ngModel)]="user.favoriteColor"></td>
      </tr>
      <tr><button type="submit" (click)="toggleEdit()"> Save Changes </button></tr>
      <tr>
        <td><button class="toggleEditButton" type="button" (click)="toggleEdit()"> Toggle Edit </button> </td>
      </tr>
    </tbody>    
  </table>  
</div>